@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  border: 5px dotted red;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex: 1;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.header {
 display: flex;
 width: 100%;
 justify-content: space-between;
  
}
.footer {
  display: flex;
  background-color: #eeeeee;
  width: 100%;
  justify-content: space-between;
  



  
}
.left-links,.right-links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 10px;
  
}